<h1>AI Cold Email Writer</h1>

<div>Purpose : <%= @purpose %></div>
<div>Recipient : <%= @recipient %></div>
<div>Sender : <%= @sender %></div>
<hr/>
<h2>Result :</h2>
<div><b>Subject :</b></div>
<p><%= @cold_email[:subject] %></p>
<div><b>Body :</b></div>
<p><%= @cold_email[:body] %></p>