<h1>AI Cold Email Writer</h1>

<!-- Flash Messages -->
<% if flash[:errors] %>
  <h3>Errors</h3>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <hr/>
<% end %>

<% if flash[:success] %>
  <hr/>
  <p><strong>Success:</strong> <%= flash[:success] %></p>
  <hr/>
<% end %>

<!-- Draft Details -->
<h2>Draft Details</h2>

<p><strong>Purpose:</strong> <%= @draft.purpose %></p>
<p><strong>Recipient:</strong> <%= @draft.recipient %></p>
<p><strong>Sender:</strong> <%= @draft.sender %></p>
<% if @draft.tone%>
  <p><strong>Tone:</strong> <%= @draft.tone %></p>
<% end %>
<% if @draft.reading_time%>
  <p><strong>Reading Time:</strong> <%= @draft.reading_time %></p>
<% end %>
<% if @draft.language%>
  <p><strong>Language:</strong> <%= @draft.language %></p>
<% end %>
<% if @draft.emojis%>
  <p><strong>Emojis:</strong> <%= @draft.emojis %></p>
<% end %>

<hr/>

<!-- Email Result -->
<h2>Generated Email</h2>

<!-- Subject -->
<p><strong>Subject:</strong></p>
<p><%= @draft.subject.presence || "No subject generated yet." %></p>

<!-- Email Body with Line Breaks -->
<p><strong>Body:</strong></p>
<pre><%= @draft.body.presence || "No body generated yet." %></pre>

<hr/>

<h2>Refine Email</h2>

<%= form_with url: refine_draft_path(@draft), method: :post, data: { turbo: false } do |form| %>
  <div>
    <label>Refinement Instructions</label><br>
    <%= form.text_area :instructions, placeholder: "Write the instructions of the email refinment...", rows: 4 %>
  </div>

  <br>

  <div>
    <%= form.submit "Refine" %>
  </div>
<% end %>

<hr/>

<!-- Navigation Link -->
<%= link_to "Go to list", root_path %>
