<h1>AI Cold Email Writer</h1>

<div>Purpose : <%= @draft.purpose %></div>
<div>Recipient : <%= @draft.recipient %></div>
<div>Sender : <%= @draft.sender %></div>
<hr/>
<h2>Result :</h2>
<div><b>Subject :</b></div>
<p><%= @draft.subject %></p>
<div><b>Body :</b></div>
<p><%= @draft.body %></p>